.c-Player {
    display: flex;

    flex-direction: row;
    align-items: center;

    border-top: 2px solid grey;
}

.c-Player .audio {
    width: 100%;
}

.c-Player .favorite-button-container {
    height: 30pt;
    width: 30pt;

    display: flex;
    justify-content: center;
    align-items: center;
}
